*{
    padding:0;
    margin:0;
}

body{
    height:100vh;
    background-color: blueviolet;
}
h1{
    font-size:3rem;
    color:white;
    text-align: center;
}
.btn{
    padding:1.2rem;
    background-color: aqua;
    text-decoration: none;
}